{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
    <h1>Mes Réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Date d'arrivée</th>
                <th>Date de sortie</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservation %}
                <tr>
                    <td>{{ reservation.hotel.nom }}</td>
                    <td>{{ reservation.hotel.adresse }}</td>
                    <td>{{ reservation.dateDebut ? reservation.dateDebut|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.dateFin ? reservation.dateFin|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.hotel.prix }}</td>
                    <td>
                        <a href="{{ path('edit_reservation', {id: reservation.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}