{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_row(form.nomPrenom, {'label': 'Nom et Prénom'}) }}
        {{ form_row(form.email, {'label': 'Email'}) }}
        {{ form_row(form.password.first, {'label': 'Password'}) }}
        {{ form_row(form.password.second, {'label': 'Confirm Password'}) }}
        {{ form_row(form.DateNaissance, {'label': 'Date de Naissance'}) }}
        {{ form_row(form.Numtel, {'label': 'Numéro de Téléphone'}) }}
        <button class="btn">Register</button>
        <a href="{{ path('app_login') }}">Log In</a>
        
    {{ form_end(form) }}
    
{% endblock %}
