{% extends 'base.html.twig' %}

{% block title %}Client's List{% endblock %}

{% block body %}
    <h1>Client's List</h1>

    <table class="table" border=1>
        <thead>
            <tr>
                <th>Nom et Prenom</th>
                <th>E-mail</th>
                <th>Roles</th>
                <th>Password</th>
                <th>DateNaissance</th>
                <th>Numtel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nomPrenom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.roles ? client.roles|first : '' }}</td>
                <td>{{ client.password }}</td>
                <td>{{ client.DateNaissance ? client.DateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ client.Numtel }}</td>
                <td>
                    <a href="{{ path('app_admin_showClient', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_admin_editClient', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_newClient') }}">Create new</a>
{% endblock %}
